---
import BaseLayout from "./BaseLayout.astro";
import { Picture } from "astro:assets";
const { frontmatter } = Astro.props;
export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
  frontmatter: { // Add this section
        title: string;
        description: string;
        pubDate: Date;
        author: string;
        image: string;
        imageAlt: string;
    };
}
const { title, description, permalink, current } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description} permalink={permalink}>
  <main class="p-4">

    <h1 class="mb-0 text-white">{frontmatter.title}</h1>

    <p class="text-whit">Created on: {frontmatter.pubDate.toString().slice(0,16)}</p>
    

    <Picture formats={['avif', 'webp']} src={frontmatter.image} alt={frontmatter.imageAlt} width="2000" height="400" class=" mx-auto my-4 rounded-xl" />

    <slot />

  </main>
</BaseLayout>
